.aside {
  width: 25%;
  float:left;
  padding-top: 20px;
  img {
    width:100%;
    border-radius: 6px;
  }
  .info {
    padding: 12px 0;
    border-bottom: $border;
    border-top: $border;
  }
  .info>li {
    padding:3px;
    list-style-type: none;
  }
  span.octicon-clock, span.octicon-location {
  margin-right: 15px;
  }
  .popularity {
    border-bottom: $border;
  .pop-col {
    display: inline-block;
    width: 32.13%;
    text-align: center;
  }
}
.organizations img {
  width:42px;
}
#org-text {
  padding: 12px 0;
}
}
